@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$color-light: #e5d8bf;
$color-dark: #1c1c20;
$color-primary: #94aa2a;
$color-secondary: #e47312;
$color-com: #d55252;

$font-family: 'Poppins', sans-serif;
$font-weight: 300;
$font-size: 16px;
