.divFooter{
    align-items: center;
    justify-content: center;   
    display: flex; 
   padding: 0.5rem;
   background-color: var(--third-color);
   flex-direction: column;
}
.img{
    width: 5.5rem;
    height: 4.5rem;
}

.divFooter p{
    font-size: 12px;
    margin-top: 0.5rem;
}
.spanAbout {
    margin-left: 20px;
    font-size: 15px;
    color: black;
    border: 1px solid rgb(129, 129, 129);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.spanAbout:hover {
    transition: all 0.5s;
  background: rgb(216, 216, 216);
}