.container__FormContacArtist{
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.FormContacArtist_Principal {
    width: 70vh;
    min-height: 80vh;
    border-radius: 0.5rem;
    border: 1px rgb(0 0 0 / 11%) solid;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes desvanecer {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
    }
.FormContacArtist_Principal img{
margin-right: 5px;
margin-top: 3px;
}
.FormContacArtist_Principal_img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.FormContacArtist_form {
    width: 80%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.FormContacArtist_form form {
  
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.FormContacArtist_form h1 {
  
    margin-bottom: 10px;
}

.FormContacArtist_form input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
    /* margin-bottom: 30px; */
    padding-left: 5px;
}
.FormContacArtist_form textarea {
    width: 300px;
    height: 80px;
    border-radius: 10px;
    padding-left: 5px;
  }
.FormContacArtist_form button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
margin-top: 30px;
margin-bottom: 10px;
background: #168AAD;
color: white;
font-size: 15px;
text-align: center;
border: none;
cursor: pointer;
}
.messageError {
    width: 305px;
    height: 30px;
    border: 2px solid black;
    background: rgb(230, 118, 118);
    border-radius: 10px;
    /* margin-top: -33px; */
    padding-left: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notMessageError{
    display: none;
}
.disbleColor{
    opacity: 0.3;
}

.move {
    animation: showIcom 5s linear;
}

@keyframes showIcom {

    0%{
        transform: translateY(900px) scale(4, 4);
        opacity: 1;

    }
    50%{
        transform: translateY(-100px) scale(4, 4);
        opacity: 1;
    }
    75%{
        transform: translateY(900px) scale(4, 4);
        text-shadow: none;
        color: transparent;
        opacity: 0.6;
    }
    100%{
        transform: translateY(0) scale(1, 1);
        opacity: 1;
    }
}