.container__formContac{
    width: 100%;
    height: 80vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.formContac_Principal {
    width: 70vh;
    height: 70vh;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContac_Principal img{
margin-right: 5px;
margin-top: 3px;
}
.formContac_Principal_img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.formContac_form {
    width: 80%;
    height: 100%;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formContac_form form {
  
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.formContac_form h1 {
  
    margin-bottom: 30px;
}

.formContac_form input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 5px;
}
.formContac_form textarea {
    width: 300px;
    height: 80px;
    border-radius: 10px;
    padding-left: 5px;
  }
.formContac_form button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
margin-top: 50px;
background: #168AAD;
color: white;
font-size: 15px;
text-align: center;
border: none;
cursor: pointer;
}
.messageError {
    width: 305px;
    height: 30px;
    border: 2px solid black;
    background: rgb(230, 118, 118);
    border-radius: 10px;
    margin-top: -33px;
    padding-left: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notMessageError{
    display: none;
}