.containerReviews{
    margin: auto;
    padding: 0.3125rem 2.5rem 0.3125rem 2.5rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 30px;
    margin-left: 8rem;
}

.divReviews{
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0rem;
    padding: 11px 5px 11px 10px;
    background-color:  var(--third-color);
    border-radius: 4px;
   
}

.imgArtwork{
    height: 95px;
    width: 67.5px;
    border-radius: 3px;
    object-fit: contain;
}

.containerText{
    padding: 2px;
    margin-left: 15px;
    
}

.containerText p {
    font-size: 0.92rem;
}

.divText{
    display: flex;
    align-items: center;

}

.divText h5{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.divText div{
    margin-left: 5px;
}

