.divContainerFormCart{
    width: inherit;
    margin: 3rem 9rem;
}

.divContainerFormCart h1{
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.divContainerDetailsCart{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.divContainerItemsCart {
    width: 27rem;  
}

.divContainerInputsFormCart{
    width: 32rem;
    display: flex;
    flex-direction: column;
}

.divContainerInputsFormCart input{
    height: 1.75rem;
    border-radius: 0.4rem;
    border: 0.2rem solid var(--fifth-color);
}

.divContainerNameLastCart{
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.divNameLastCart{
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.divContainerProductCart{
    display: flex;
    justify-content: space-between;
}

.divContainerProductCart img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.divContainerProductCart p{
font-size: 0.9rem;
margin: 0.15rem 0rem;
}

.divContainerInputsFormCart label{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.divProductSubTotalCart{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    border-radius: 0.25rem;
    align-items: center;
    background-color: var(--six-color);
    margin-top: 0.75rem;
}

.divContainerTotalPrice{
    display: flex;
    width: inherit;
    justify-content: space-between;  
}

.divContainerButtonCartContinue{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainerButtonCartContinue button {
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 4rem;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.divContainerNumberFloorUnit{
    display: flex;
    width: 30rem;
    justify-content: space-between;

}

.NumberFloorUnitCart label{
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.NumberFloorUnitCart input{
    width: 10rem
}

.NumberFloorUnitCart{
    padding-right: 0.4rem;
}

