DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
LOAD_MOCK_DATA=
JWT_SECRET=
DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=977904409468-90cv2ah8dvlo2djnafa7osm3h4i99bec.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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