

.admin-bar{
    height: 100%; /* -> Agregado */
    width: 15rem;/* -> Agregado */
    display:flex;
    flex-direction: column;     
    margin-left: 0.5rem;
    align-self: stretch;
    padding: 1.5rem;   
}

.menu-options > li{ /* -> Agregado */
    display: flex;
}

.user{
    text-align:center;
    font-size: 1.2rem;
    margin: 1rem;    
}

.user a{ 
    color: var(--eigth-color);
}

.user a:hover{
    color: var(--btnHover-color)
}

.icon {
    width: 20%;
    height: 70%;
  }

.img-profile{
    width: 6rem;
}

.menu-options{
    text-align:left;    
}

.menu-options li{    
    font-size: 1.2rem;   
    list-style: none;
   margin:2.5rem;  
    color: var(--eigth-color);
    cursor: pointer;
    font-weight: 600;
}

.menu-options li:hover{
    color: var(--btnHover-color)
 }
.menu-options li a{
    color: var(--eigth-color);    
}

.menu-options li a:hover{
    color: var(--btnHover-color)
}
.logout{   
    align-self: baseline;
}

.icon{
    font-size: 1.5rem;
}





