

.admin-bar{
    display:flex;
    flex-direction: column;  
    box-shadow: 8px 5px 5px 2px rgba(71, 71, 71, 0.418);
    margin-left: 0.5rem;
    height: auto;
    

}

.User{
    
   
    padding: 2rem;
    text-align: center;
}

.img-profile{
    width: 6rem;

}

.menu-options{
    text-align: center;
    
    
   
    
    
}
.menu-options li{
    color: var(--btnHover-color);
   
    list-style: none;
   margin:2rem;  

}

.menu-options li a{
    color: var(--btnHover-color)
}

.menu-options li:hover{
    color: rgb(3, 115, 180);



}

.menu-options li:active{
    color: rgb(180, 3, 71);



}


.logout{
   
    align-self: baseline;
}

.icon{
    font-size: 1.5rem;
}





