.gallery-container{
    width: 90vw;
    min-height: 90vh;
    margin: auto;
    display: flex;
}

.cards-container{
    width: 80%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

@media (max-width:1000px) {
    .gallery-container{
        width: 90vw;
        min-height: 90vh;
        margin: auto;
        display: flex;
        flex-direction: column;        
        align-items: center;
    }
  
  }
  