.divContainer{
    margin: 25px
}

.divContainer h1{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.divContainerimg{
margin: 30px 5px 5px 20px;
display: flex;
justify-content: center

}

.imgArtist{
    width: 375px;
    height: 450px;
    padding-right: 40px;
   
}

.divBio{
   width: 350px; 
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.divButton{
    margin: 5px;
}

.divButton button{
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 17px;
}

.containerReviews{
    margin: auto;
    padding: 5px 60px 5px 60px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.containerReviews h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

.divReviews{
    display: flex;
    justify-content: flex-start;
    padding: 15px 2px 15px 10px;
    background-color:  var(--six-color);
    border-radius: 4px;
   
}

.imgArtwork{
    height: 150px;
    width: 125px;
    border-radius: 3px;
}

.containerText{
    padding: 4px;
    margin-left: 15px;
    
}

.divText{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.divText h4{
    font-weight: bold;
}

.divText div{
    margin-left: 5px;
}