@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

a{
  text-decoration: none;
}

:root {
  --primary-color: #B6612D;
  --second-color: #000000;
  --third-color: #FFE7D1;
  --fourth-color: #ffffff;
  --fifth-color: #9e9e9e;
  --six-color: #f5f5f5;

  --btnHover-color: #854a25;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
