@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

a{
  text-decoration: none;
}

:root {
  --primary-color: #168AAD;
  --second-color: #4B4B4D;
  --third-color: #F5F5F3;
  --fourth-color: #ffffff;
  --fifth-color: #DCDCDD;
  --six-color: #f5f5f5;
  --seven-color: #cceef8;
  --eigth-color: #7c7c7c;

  --btnMain-Color: #168AAD;
  --btnSecond-Color: #000000;
  --btnHover-color: #056987;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
