@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

a{
  text-decoration: none;
}

:root {
  --primary-color: #168AAD;
  --second-color: #4B4B4D;
  --third-color: #F5F5F3;
  --fourth-color: #ffffff;
  --fifth-color: #DCDCDD;
  --six-color: #f5f5f5;
  --seven-color: #cceef8;
  --eigth-color: #7c7c7c;
  --nine-color: #ebebec;

  --bgMainColor: #000000;

  --btnMain-Color: #168AAD;
  --btnSecond-Color: #000000;
  --btnHover-color: #00485e;
  --btnHoverCancelColor: #880101;

  --canceled-color: #FF0000;
  --completed-color: #008000;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-y: auto;
}

button, input[type="text"], textarea{
  font-family: 'Poppins', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loading {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Scrollbar*/
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: .85em;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 0.7em;
}

body::-webkit-scrollbar-thumb {
  background: rgb(22,138,173);
background: linear-gradient(180deg, rgba(22,138,173,1) 0%, rgba(0,72,94,1) 49%, rgba(22,138,173,1) 100%);
  border-radius: 20px;
  border: 0.1em solid var(--third-color);
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}