
:root {
 
    --width: 250px;
    --height: 290px;
}
.containerCarsDetail{
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
    /* margin-top: -100px; */
}
.contain {
    width: var(--width);
    height: var(--height);
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        box-shadow: 
        0 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.4), 0px 0px 20px rgba(0, 0, 0, 0.4);
        transition: all  1.8s;
}
.contain:hover{
    box-shadow: 
    0 20px 20px rgba(255, 254, 254, 0.2), 0px 0px 50px rgba(255, 254, 254, 0.2),
    0 20px 20px rgba(255, 254, 254, 0.2), 0px 0px 50px rgba(255, 254, 254, 0.2);
    transition: all 1s;
}
.containTitle {
    position: absolute;
    top: 0;
    /* left: 20px; */
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
    padding: 0px 10px;
    color: rgb(15, 15, 15);
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
}
.containImg{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-top: 20px;
}
.containImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.containCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containDescription {
    font-size: 10px;
    padding: 0px 5px;
    /* margin-top: -30px; */
  
}
.descriptionDetail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:  1px;
    margin-top: 2px;
    margin-left: 10px;
}
@media (max-width: 689px) {
   
    
  }