.containerDetail {
  margin: 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
}

.btnReturn a {
  text-decoration: none;
  color: black;
}

.principalHeader {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.principalSectionArtist {
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: flex-start;
}

.principalSectionArtist h1 {
  font-size: 2.3rem;
  display: flex;
  align-items: flex-end;
}

.principalSectionArtist img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 2rem;
}

.divContainerInfoDetail {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  margin-left: 1rem;
  align-items: center;
}

.divNameEmail1 {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  align-items: flex-start;
}

.divNameEmail1 p {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(5, 5, 5);
}

.divNameEmail1 span {
  font-size: 0.8rem;
  color: rgb(185, 185, 185);
}

.divContainerInfoDetail button {
  height: 2.25rem;
  width: 9rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.divContainerInfoDetail button a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.divContainerInfoDetail button:hover {
  color: white;
  background: rgb(29, 28, 28);
  transition: all 1s;
}

.divContainerInfoObra {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: inherit;
  padding: 1.5rem 0rem 0.75rem;
  border-bottom: 0.15rem solid var(--third-color);
}

.divContainerTitleFav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  align-items: center;
  border-bottom: 0.15rem solid var(--third-color);
}

.containerInfoObra {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.containerInfoObra h1 {
  font-size: 1.75rem;
  font-style: oblique;
  font-weight: 500;
}

.spanDimensions {
  padding-bottom: 0.75rem;
  font-size: 0.9rem;
}

.buttonLikeObra {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  color: red;
}

.buttonEditObra {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  color: black;
}

.buttonLikeObra:hover {
  color: white;
  background: rgb(29, 28, 28);
  transition: all 1s;
}

.buttonEditObra:hover {
  color: white;
  background: rgb(29, 28, 28);
  transition: all 1s;
}

.iconLike {
  font-size: 1.5rem;
  margin-top: 0.4rem;
}

.spanTech {
  font-size: 0.9rem;
}

.spanPrice {
  padding: 0.75rem 0rem 0rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.divDescriptionArtwork {
  padding-top: 0.75rem;
  width: inherit;
}

.divDescriptionArtwork span {
  font-weight: 400;
}

.divDescriptionArtwork h4 {
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.principalSectionInterno {
  display: flex;
  justify-content: space-evenly;
}

.iconHeaderCardDetail {
  width: 1.55rem;
  height: 1.55rem;
  /* color: var(--eigth-color); */
}

.internoimg {
  width: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 2vh;
  flex-direction: column-reverse;
}

.internoimg img {
  width: 85%;
  object-fit: contain;
  transition: all 2s;
}

.miniatureContainer {
  display: flex;
  flex-direction: row;
  margin: 3vh;
  justify-content: center;
}

.miniatureContainer img {
  margin: 1.5vh;
  width: 20%;
  height: auto;
}

.miniatureContainer img:hover {
  transform: scale(1.1);
}

.internodescription {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.internodescription h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.internodescription h3 a {
  text-decoration: none;
  color: black;
}
.internodescription p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.internodescription p span:nth-child(1) {
  margin-bottom: 20px;
  text-align: center;
}
.btnCard {
  width: 240px;
  height: 40px;
  /* background: rgb(185, 185, 185); */
  margin-top: 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  cursor: pointer;
  border: none;
}
.btnReturn {
  width: 240px;
  height: 40px;
  background: var(--six-color);
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  cursor: pointer;
}
.btnCard:hover {
  color: white;
  background: rgb(29, 28, 28);
  transition: all 1s;
}
.btnReturn:hover {
  color: white;
  background: rgb(29, 28, 28);
  transition: all 1s;
}
.cardImage {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}

.cardImageReturn div {
  width: 10px;
  height: 10px;
  border-left: none;
  border-top: none;
  border-right: 2px rgb(5, 5, 5) solid;
  border-bottom: 2px rgb(5, 5, 5) solid;
  cursor: pointer;
  transform: translate(20px) rotate(140deg);
  transition: all 1s;
}
.btnReturn:hover .cardImageReturn div {
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  transition: all 1s;
}
.cardText {
  width: 110%;
  font-size: 15px;
}
.cardImageReturn {
  margin-right: 30px;
}

.cardImageReturn:hover {
  color: white;
}

.principalSectionObras {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.obrasDetailDecrement {
  width: 20px;
  height: 20px;
  border-left: none;
  border-top: none;
  border-right: 2px rgb(5, 5, 5) solid;
  border-bottom: 2px rgb(5, 5, 5) solid;
  cursor: pointer;
  transform: translate(40px) rotate(140deg);
  transition: all 1s;
}
.obrasDetailIncrement {
  width: 20px;
  height: 20px;
  border-left: none;
  border-top: none;
  border-right: 2px rgb(5, 5, 5) solid;
  border-bottom: 2px rgb(5, 5, 5) solid;
  cursor: pointer;
  transform: translate(-40px) rotate(320deg);
  transition: all 1s;
}
.obrasDetailIncrement:hover {
  border-right: 5px rgb(5, 5, 5) solid;
  border-bottom: 5px rgb(5, 5, 5) solid;
  transition: all 1s;
}
.obrasDetailDecrement:hover {
  border-right: 5px rgb(5, 5, 5) solid;
  border-bottom: 5px rgb(5, 5, 5) solid;
  transition: all 1s;
}
.obrasDetail {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.obrasSimilares {
  width: 200px;
  height: 200px;
  margin-bottom: 10vh;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.obrasSimilares p{
margin-top: 2vh;
}

.obrasSimilares img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: all 1.1s;
}
.obrasSimilares img:hover {
  transition: all 1.1s;
  transform: scale(1.1);
}
@media (max-width: 689px) {
}
.internodescription > P > span:nth-child(6) {
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.spanPaintingAvailible {
  color: green;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.spanNotAvailible {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.divContainerButtonAvailable {
  display: flex;
  width: 14rem;
  border: 0.15rem solid var(--third-color);
  /* border: 0.15rem solid red; */
  margin-top: 0.75rem;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.25rem 0rem;
}

.divContainerButtonAvailable span {
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 0.25rem;
}

.divContainerPriceAvalible {
  display: flex;
  flex-direction: column;
}
.divContainerPaintingAvailible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divContainerButtonAvailable button {
  border: none;
  outline: none;
  height: 2.1rem;
  width: 11rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.pTextPaintingforSale {
  color: red;
  font-weight: bold;
}

.pTextPaintingSold {
  color: green;
  font-weight: bold;
}

.divContainerTitleMorePaintings {
  margin-left: 4rem;
  margin-top: 1vh;
  border-bottom: 0.2rem solid var(--third-color);
}

.divContainerTitleMorePaintings h1 {
  font-size: 1.9rem;
}
