.container-home{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 1.5em;
    color: var(--primary-color);
}

.content-all{
    width: 18em;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 4em;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure{
    width: 100%;
    height: 11em;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 8px 0 var(--primary-color);
    border-radius: 5px;
    transition: all 300ms;
}

.content-carrousel figure:hover{
    box-shadow: none;
    transition: all 300ms;
}


.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(17em);
}
.content-carrousel figure:nth-child(2){
    transform: rotateY(72deg) translateZ(17em);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(144deg) translateZ(17em);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(216deg) translateZ(17em);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(288deg) translateZ(17em);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(360deg) translateZ(17em);
}

.content-carrousel img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    object-fit: fill;
}

.content-carrousel img:hover{
    transition: all 300ms;
    transform: scale(1.2);
}

.content-carrousel figure {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content-carrousel img:hover{
    filter: blur(2px);
}

p{
    color: var(--second-color);
}


.content-carrousel figure div{
    position: absolute;
    display: none;
    transform: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.603);
}

.content-carrousel figure:hover div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-carrousel figure:hover div:hover p{
    opacity: 1;
}

@keyframes rotar {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}