.main {
	min-height: 100vh;
	width: 100%;
	padding: 40px 10px;
	&__container {
		margin: 0 auto;
		max-width: 1000px;
		width: 90%;
		display: grid;
		row-gap: 40px;
	}
}

@media screen and (min-width: 900px) {
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&__container {
			grid-template: 1fr / 1fr 1.5fr;
		}
	}
}
