/*CardArticlesPurchase*/

.cardsArticlePurchase {
    width: 100%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .articleCard,
  .sectionSupArticle,
  .sectionDownArticle,
  .info-article {
    display: flex;
  }
  
  .articleCard {
    background-color: var(--fifth-color);
    border-radius: 0.5em;
    border: 0.2em solid var(--fifth-color);
    width: 31%;
    height: 95%;
    flex-direction: column;
    margin: 0.2em;
  }
  
  .articleCard h5 {
    font-size: 1em !important;
    font-weight: 500;
  }
  
  .sectionSupArticle {
    width: 100%;
    height: 12%;
    justify-content: space-evenly;
  }
  
  .sectionSupArticle h5{
    
    height: 100%;
    width: 70%;
  }
  
  
  .sectionSupArticle .customer-purchase-data {
    width: 42%;
  }
  
  .sectionMiddleArticle {
    width: 100%;
    height: 65%;
  }
  
  .img-article {
    width: 95%;
    height: 95%;
    margin: 0.2em;
    object-fit: contain;
  }
  
  .sectionDownArticle {
    margin: .5em auto;
    height: 22%;
    width: 90%;
    justify-content: center;
  }
  
  .articleCard .customer-purchase-data h5{
    text-align: left;
  }
