.admin-box{
    display: flex;            
    height: 100vh;
    


}

.admin-bar{
    display:flex;
    flex-direction: column;
    font-size: 25px;    
    
    box-shadow: 8px 5px 5px 0.5px rgba(71, 71, 71, 0.418);
    margin-left: 50px;

}

.User{
    
   
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.menu-options{
    text-align: center;
    
   
    
    
}
.menu-options li{
   
    list-style: none;
   margin:50px;
}

.menu-options li:hover{
    color: rgb(3, 115, 180);



}
.img-profile{
    width: 80px;

}


.btn-log{
    font-size: 20px;
    list-style: none;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    margin: 50px;
}

.btn-log:hover{
 background-color: rgb(160, 160, 160);

}

.component-box{
   
    height: 100vh;
    width: 85%;
}

.tittle-box{
    height: 5%;
    
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.reder-box{
 height: 70%;
 
 

}
