

.containerDetail {
    width: 100%;
    height: 100vh;
    background: rgb(185, 78, 78);
    display: flex;
    flex-direction: column;
}
.principalHeader {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: gray;
    
}
.principalSection {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(211, 199, 199);
    flex-wrap: wrap;
    /* gap: 50px; */
    /* margin-top: -100px; */
}
.principalSectionInterno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    /* border:  2px solid red; */
}
.principalFooter {
    width: 100%;
    height: 50px;
    background: rgb(233, 230, 230);
}
.principalSectionObras{
width: 100%;
height: 100px;
/* border: 2px solid blue; */
display: flex;
justify-content: space-between;
align-items: center;
}




.obrasDetailDecrement{
  width: 15px;
  height: 15px;
  border-left: none;
  border-top: none;
  border-right: 2px rgb(5, 5, 5) solid;
  border-bottom: 2px rgb(5, 5, 5) solid;
   cursor: pointer;
   transform: translate(20px) rotate(140deg);
}
.obrasDetailIncrement{
    width: 15px;
    height: 15px;
    border-left: none;
    border-top: none;
    border-right: 2px rgb(5, 5, 5) solid;
    border-bottom: 2px rgb(5, 5, 5) solid;
     cursor: pointer;
     transform: translate(-20px) rotate(320deg);
}
.obrasDetail{
    width: 80%;
    height: 80%;
    /* border:  2px solid green; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.obrasSimilares{
    width: 120px;
    height: 100%;
    border: 2px solid yellow;
    border-radius: 20px;
}
.btnCars {
    position: absolute;
    margin-right: -350px;
    margin-bottom: -200px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}
.buttonsCars {

    width: 120px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background: transparent;
    box-shadow: 
    0 0px 10px rgba(0, 0, 0, 0.2) inset, 0px 0px 10px rgba(0, 0, 0, 0.2)inset,
    0 0px 10px rgba(0, 0, 0, 0.4)inset, 0px 0px 10px rgba(0, 0, 0, 0.4)inset;
    cursor: pointer;
    transition: all 1s;
}
.buttonsCars:hover {

    box-shadow: 
    0 0px 20px rgba(255, 254, 254, 0.2), 0px 0px 30px rgba(255, 254, 254, 0.2),
    0 0px 20px rgba(255, 254, 254, 0.2), 0px 0px 30px rgba(255, 254, 254, 0.2);
    transition: all 1s;
    background-color: #808080;
    transition: all 1s;
}


  @media (max-width: 689px) {
    .containerDetail {
        width: 100%;
        height: 600px;
    }
  .principalSection{
      gap: 10px;
  }
  .obrasDetail{
    gap: 10px;
}
  }
   @media (max-width: 521px) {
    .containerDetail {
        height: 970px;
    }
    .btnCars {
        
      margin-left: -250px;
      margin-bottom: -490px;
      
    }
.principalSectionInterno{
    margin-top: -100px;
}
  } 
  @media (max-width: 334px) {
  .obrasDetail{
      width: 100%;
      height: 80px;
      margin-top: 110px;
  }
  } 
  