
.modal-technique{
    height: 30vh;
    width: 40vh;
    overflow: auto;
    background-color: aquamarine;
}



.technique-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    
    
   
    
}

