.modal-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.register{
    position: fixed;
    top: 15%;
    left: 25%;
    height: auto;
    width: 50%;
    background-color: white;
    z-index: 1;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    width: 80%;
}

.field input{
    height: 1.5rem;
    padding: 0.25rem 0.5rem;font-size: 1rem;
    border-radius: 0.5rem;
}

.password-requirements{
    border-top: var(--primary-color) solid 1px;
    border-bottom: var(--primary-color) solid 1px;
    padding: 1rem 0;
    margin-top: 1rem;
    width: 80%;
}

.password-requirements ul li{
    margin-left: 2rem;
}

.register button{
    width: 30%;
}

.register button:disabled{
    opacity: 40%;
}

.register button:disabled:hover{
    cursor: not-allowed;
}

.register button:hover{
    cursor: pointer;
}

.pass-fail{
    color: darkred;
}

.pass-success{
    color: darkgreen;
}

.modal-close{
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    right: 1rem;
    top: 1rem;
}

.modal-close{
    cursor: pointer;
}

.fail{
    border: darkred solid 2px;
}