.addUser-admin-box {
  display: flex;
  height: 90vh;
}

.addUser-content{
  width: 80%;
  height: 100%;
  margin: 0 0.8em;
  overflow: auto;
}

/* scroll bar*/

.addUser-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.addUser-content::-webkit-scrollbar:vertical {
  width: 1em;
}

.addUser-content::-webkit-scrollbar-button:increment,
.data-artist-admin::-webkit-scrollbar-button {
  display: none;
}

.addUser-content::-webkit-scrollbar:horizontal {
  height: 0.7em;
}

.addUser-content::-webkit-scrollbar-thumb {
  background-color: var(--eigth-color);
  border-radius: 20px;
  border: 2px solid var(--third-color);
}

.addUser-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

.panel-admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  padding-top: 2rem;
  /* border: 2px solid green; */
}

.panel-admin h1{
  padding-left: .7em;
    color: var(--primary-color)
}
.panel-admin-interno1 {
  width: 100%;
  height: 50px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-admin-interno2 {
  max-width: 100%;
  /* max-height: 80%; */
  /* border: 2px solid rgb(20, 219, 226); */
  display: flex;
  flex-direction: column;
}
.panel-title {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addUser-tittle-box {
  width: 100%;
  height: 60px;
  font-size: 30px;
  text-align: center;
}
.addUser-tittle-box > h2 {
  margin-top: 20px;
  color: black;
}
.panel-interno-- {
  width: 100%;
  height: 100%;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.panel-interno-- h4 {
  margin-left: 10px;
}
.panel-interno-- button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
  border: none;
  background: rgb(199, 198, 198);
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.nav-select-1 {
  width: 100px;
  border-radius: 5px;
  border: none;
  /* background: rgb(199, 198, 198); */
  /* background-color: var(--eigth-color); */
  color: black;
  margin-left: 10px;
  border: 2px solid var(--fifth-color);
}
.nav-select-1 > option {
  background: #f5f5f3;
  border-radius: 5px;
  /* border: 2px solid var(--fifth-color); */
  /* border: none; */
}
.order-input > label {
  margin-right: 10px;
}
.order-input > input {
  border: 2px solid #f5f5f3;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
}

.interno2-div1 {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid var(--fifth-color);
  border-top: 2px solid var(--fifth-color);
  margin-top: 10px;
  display: flex;
}
.interno2-div1 ul {
  display: flex;
  gap: 80px;
  margin-left: 20px;
  list-style: none;
}
.interno2-div1 ul li:nth-child(3) {
  margin-left: 120px;
}
.interno2-div2 {
  display: flex;
  /* margin-left: 10px; */
  margin-top: 6px;
  gap: 60px;
  /* border-bottom: 2px solid black; */
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: -50px; */
}
.interno2-div2 h4 {
  margin-left: 20px;
}
.interno2-div2 button {
  margin-bottom: 5px;
  width: 150px;
}
/* .interno2-div2::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: -55px;
    margin-left: -10px;
} */
.panel-button {
  margin-right: 30px;
}
.interno2-div2 p:nth-child(2) {
  width: 240px;
  /* border:  2px solid red; */
  text-align: center;
}
.interno2-div2 p:nth-child(3) {
  width: 300px;
  /* border:  2px solid red; */
  text-align: center;
}
.div-admin {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: -40px;
}
.h2-banned {
  margin: 0;
}
.panelinterno2 {
  margin-top: 100px;
}

/* .color-reset, .color-remove, .color-unban, .color-admin, .color-add{
  font-weight: 500;
} */

.color-reset, .color-remove, .color-admin, .color-add{
  color: var(--fourth-color);
}

.color-reset {
  background: var(--canceled-color) !important;
}

.color-reset:hover{
  background: rgb(165, 1, 1) !important;
}

.color-remove {
  background: #147970 !important;
}

.color-remove:hover{
  background: #08524b !important;
}

.color-unban {
  background: #ccdae4 !important;
  color: #0f4970;
}

.color-unban:hover {
  background: #98b6c5 !important;
  color: #0f4970;
}

.color-admin {
  background: #0f4970 !important;
}

.color-admin:hover {
  background: #021a2b !important;
}

.color-add {
  background: #50b9b1 !important;
}

.color-add:hover {
  background: #044d48 !important;
}
