
.addUser-admin-box{
    display: flex;   
    min-height: 140vh;         
    
    }

.addUser-component-box{
   
    height: 100vh;
    width: 100%;
    /* background: green; */
}
.container-div {
    width: 100%;
    height: 800px;
    display: flex;

    margin-top: 50px;
    background: white;
}

.addUser-reder-box{
    width: 100%;
 height: 100%;
 /* background: gray; */
 display: flex;
 flex-wrap: wrap;
}
.addUser-nav{
    width: 15rem;
    height: 80%;
    /* background-color: red; */
    margin-right: 20px;
}
.addUser-content {
    width: 75%;
    height: 80%;
    /* background-color: blue; */
    display: flex;
   flex-direction: column;
   margin-left: 40px;
    /* background: yellowgreen; */
 
}
.panel-admin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}
.panel-admin-interno1 {
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-admin-interno2{
    max-width: 100%;
    /* max-height: 80%; */
    /* border: 2px solid rgb(20, 219, 226); */
    display: flex;
    flex-direction: column;
}
.panel-title{
    width: 100%;
    height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.addUser-tittle-box{
    width: 100%;
    height: 60px;
    font-size: 30px;
    text-align: center;
}
.addUser-tittle-box > h2{
  margin-top: 20px;
  color: black;

}
.panel-interno--{
    width: 100%;
    height: 100%;
    /* background: gray; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.panel-interno--  h4{
font-size: 20px;
    margin-left: 10px;
}
.panel-interno--  button{
   width: 100px;
   height: 40px;
   border-radius: 20px;
margin-right: 20px;
border: none;
background: #168AAD;
font-size: 15px;
    }

    .nav-select-1{ 
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background: #168AAD;
        color: black;
        font-size: 18px;
        margin-left: 10px;
    }
    .nav-select-1 > option {
        background: #168AAD;
        font-size: 18px;
        border-radius: 5px;
        border: none;
    }
    .order-input >label {
margin-right: 10px;
    }
    .order-input >input {
       border:  2px solid #168AAD;
       width: 200px;
       height: 30px;
       border-radius: 5px;
       background: transparent;
            }

.interno2-div1 {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid rgb(10, 10, 10);
    margin-top: 10px;
display: flex;
}
.interno2-div1 ul {
    display: flex;
    gap: 80px;
    margin-left: 20px;
    list-style: none;
    }
    .interno2-div1 ul li:nth-child(3) {
       margin-left: 120px;
        }
.interno2-div2 {
    display: flex;
    /* margin-left: 10px; */
    margin-top: 6px;
    gap: 60px;
    /* border-bottom: 2px solid black; */
   justify-content: center;
    flex-direction: column;
    /* margin-bottom: -50px; */
   
}
.interno2-div2 h4{
    margin-left: 20px;
}
.interno2-div2 button{
    margin-bottom: 5px;
    width: 150px;
}
/* .interno2-div2::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: -55px;
    margin-left: -10px;
} */
.panel-button {
    margin-right: 30px;
}
.interno2-div2 p:nth-child(2){
    width: 240px;
    /* border:  2px solid red; */
    text-align: center;
}
.interno2-div2 p:nth-child(3){
    width: 300px;
    /* border:  2px solid red; */
    text-align: center;
}
.div-admin {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-bottom: -40px;
    padding-top: 4px;

}
.h2-banned{
    margin: 0;
}
.panelinterno2 {
    margin-top: 100px;
}