@import '../sass/vars.scss';

input[type='file'] {
	display: none;
}

.drag {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	&__title {
		color: $color-primary;
		margin-bottom: 10px;
	}
	&__message {
		margin: 20px 0;
		padding: 10px 20px;
		border-radius: 5px;
		background-color: $color-light;
		text-transform: uppercase;
		color: $color-com;
		transition: display 0.5s ease-in;
	}
	&__image {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 250px;
		border: 2px dashed $color-secondary;
		border-radius: 10px;
		margin-top: 10px;
		background: rgba($color-com, 0.2) url('../../../assets/img/bg-upload.svg');
		background-repeat: no-repeat;
		background-position: 65% 20px;
		background-size: 80%;
		overflow: hidden;
		&.active {
			background-color: rgba($color-com, 0.4);
		}
		&--preview {
			position: relative;
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: 500;
		}
		&--message {
			padding: 0 10px;
			position: absolute;
			font-size: 14px;
			text-align: center;
			width: 100%;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__action {
		outline: none;
		cursor: pointer;
		margin-top: 20px;
		padding: 12px 30px;
		border: none;
		border-radius: 5px;
		background-color: $color-primary;
		text-transform: uppercase;
		transition: backgroundColor 0.4s ease-in;
		&:hover {
			background-color: lighten($color: $color-primary, $amount: 5);
		}
	}
}

@media screen and (min-width: 600px) {
	.drag {
		&__image {
			width: 350px;
		}
	}
}

@media screen and (min-width: 768px) {
	.drag {
		&__image {
			width: 400px;
		}
	}
}

@media screen and (min-width: 900px) {
	.drag {
		&__image {
			height: 280px;
			width: 300px;
		}
	}
}
