.card, .data-paint{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 100%;
    height: 23rem;
    margin: .6em;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px var(--second-color);
    background-color: var(--fourth-color);
}

.card:hover{
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.05);
}

.image{
    width: 90%;
    height: 55%;
    padding-top: .7em;
    object-fit: contain;
}

.data-paint{
    width: 90%;
    height: 45%;
    padding: 0.6em;
    margin-bottom: 0.2em;
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.data-paint h4{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.data-paint h5{
    font-size: .9em;
    font-weight: 400;
}

.data-paint p{
    font-size: .87em;
}

.price{
    font-weight: 600;
    font-size: .9em !important;
}