<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 { color: red }
    </style>
</head>
<body>
    <div>
        <img src="" alt="" />
        <div>
            <h1>Titulo</h1>
            <h3>Hello {{name}}, your Sant Art account's password has been reset.
                Your new password is {{password}}.
                Fell free to change it anytime at http://localhost:3000/ bla bla bla
            </h3>
        </div>
    </div>
</body>
</html>