.containerFavAll {
  margin: 1rem;
  min-height: 90vh;
}

.containerFavAll h1 {
  text-align: center;
}

.containerFav {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin: auto;
}

.divPrecioFav {
  justify-content: end;
  border-bottom: 2px solid var(--fifth-color);
  width: 100%;
  display: flex;
  padding-bottom: 0.25rem;
}

.containerPriceStatus {
  display: flex;
  width: inherit;
  justify-content: flex-end;
}

.containerPriceStatus h5 {
  padding-left: 9.5rem;
  font-size: 1rem;
  /* color: var(--eigth-color); */
}

.divContainerTotal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 0rem;
  margin-top: 1rem;
}

.divContainerTotal p {
  font-weight: bold;
  font-size: 1rem;
  color: black;
  margin-left: 0.5rem;
}

.divButtons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.divButtons button {
  outline: none;
  border: none;
  padding: 0.65rem;
  border-radius: 4px;
  background-color: var(--fifth-color);
  font-weight: bold;
  cursor: pointer;
  width: 15rem;
}

.divButtons button:hover {
  color: white;
  background-color: var(--btnHover-color);
}

.divPrecio {
  justify-content: space-between;
  border-bottom: 2px solid var(--fifth-color);
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: flex-end;
}

.divPrecio button {
  margin-right: 6.5rem;
  outline: none;
  border: none;
  padding: 0.5rem 1.75rem;
  border-radius: 4px;
  background-color: red;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.divPrecio h5 {
  text-align: end;
  align-items: flex-end;
  font-size: 1.15rem;
  margin-bottom: -0.9rem;
}
