
.aboutPrincipal{
    width: 100%;
    height: 120vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    animation-name: desvanece;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.aboutPrincipal-div1{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    margin-top: 20px;
}
.content-img{
    width: 100%;
    /* height: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: blue; */
}
.content-img img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 5px;
    
}
.cardAbout {
    width: 260px;
    height: 325px;
    background: transparent;
    position: relative;
    /* border-radius: 5px; */
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s;
}
.cardAbout:hover {
transition: all 1s;
    transform: scale(1.05);
    
}

.part1 {
    width: 100%;
    height: 50px;
    background: rgb(199, 55, 79);
    /* clip-path: polygon(10% 0%, 90% 0%, 85% 50%, 10% 50%); */
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
    border-radius: 5px;
    position: absolute;
    top: 0;
    /* left: -40px; */

}
.cardAbout h1{
    margin-top: 50px;
    margin-left: 5px;
}
.part2 {
    width: 100%;
    height: 50px;
    background: rgb(199, 55, 79);
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}
.part2 > h1 {
    position: relative;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.icom_logo{
    width: 100%;
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap: 10px;
}
.icom_logo i{
font-size: 17px;
    
}
.icom_logo a{
    text-decoration: none;
    color: black;
        
    }
.icom_logo p{
    color: black;
           font-size: 13px; 
    }

    

@keyframes desvanece {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
    }