
.aboutPrincipal{
    width: 100%;
    height: 80vh;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cardAbout {
    width: 370px;
    height: 250px;
    background: rgb(59, 58, 58);
    position: relative;
    border-radius: 5px;
}

.part1 {
    width: 100%;
    height: 50px;
    background: rgb(199, 55, 79);
    /* clip-path: polygon(10% 0%, 90% 0%, 85% 50%, 10% 50%); */
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
    border-radius: 5px;
    position: absolute;
    top: 0;
    /* left: -40px; */

}
.cardAbout h1{
    margin-top: 50px;
    margin-left: 5px;
}
.part2 {
    width: 100%;
    height: 50px;
    background: rgb(199, 55, 79);
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}
.part2 > h1 {
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.icom_logo{
    width: 100%;
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap: 10px;
}
.icom_logo i{
font-size: 20px;
    
}
.icom_logo a{
    text-decoration: none;
    color: black;
        
    }
.icom_logo p{
    color: black;
            
    }