
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.admin-box{
    display: flex;   
    height: auto;       
    overflow-y: scroll;   
    }

.component-box{
    height: 90vh;
    width: 85%;
}


.title-admin{
    height: 5%;
    width: 50%;    
    margin: auto;
    text-align: center;
    padding: 1rem; 
    
}

.title-admin hr{
    background-color:var(--eigth-color); 
    margin: 1rem; 
}


.reder-box{
 height: 70%;
}

.artists-box{    
    height: auto;      
    text-align: center; 
   }

 

   .information-box{
       text-align: center;       
       padding-top: 2rem;
       padding-bottom: 2rem;       
   }


   .data{
       display: inline-flex;
       flex-direction: column;
       width: 40%;
       text-align: center;
       justify-content: center;  
          }

   .data form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
   }

   .data form textarea{
       width: auto;
       height: 6rem;
   }

   .input{
       margin: 0.5rem;
       height: 2rem;
       text-align: center;
       font-family: 'Poppins', sans-serif;
       border-radius: 10px;
   }

   .input:hover{
       background-color: rgb(231, 231, 231);
   }



   .btn-edit{
       height: 3rem;
       width: 12rem;
       list-style: none;
       background-color: rgb(212, 212, 212);
       border-radius: 20px;
       border-style: none;
       margin: 1rem; 
   }

   .btn-edit:hover{
    background-color: rgb(160, 160, 160);
   }