.artists-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-link{
    color: black;
    margin: 0.5rem 0rem;
    display: block;
}

.artists-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artists-header h1{
    padding: 1rem;
}

.artist-sort{
    height: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.artist-sort select{
    margin: 1rem 1rem;
    background-color: transparent;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
}