.admin-sales-header, .filter-admin-seals, .subtitle-filters{
    display: flex;
    align-items: center;
}


.container-sales-admin{
    display: flex;   
    height: 90vh !important;       
    overflow: hidden !important;
}

.sales-container{
/*     background-color: red; */
    width: 80%;
/*     height: 100%; */
    margin: 0 .8em;
}

.admin-sales-header{
    width: 98%;
    height: 15%;
    padding: .5em;
    margin: .2em auto;
    justify-content: space-between;
/*     background-color: orange; */
    color: var(--primary-color);
}

.admin-profile-titles{
    font-size: 2em;
    margin-left: .6em;
}

.subtitle-filters{
    margin: 0 .5em;
    font-size: 1.1em;
}

.name-filter{
    margin: 0 .3em;
}