.sales-container {
  width: 80%;
  height: 100%;
  margin: 0 0.8em;
}

/*Titles Header*/

.sales-titles-header,
.product-sales,
.purchase-sales,
.shipment-sales,
.customer-sales,
.status-sales {
  display: flex;
}

.sales-titles-header{
  width: 95%;
  height: 7%;
  margin-left: 1em;
  color: var(--eigth-color);
}

.product-sales,
.purchase-sales,
.shipment-sales,
.customer-sales,
.status-sales {
  padding: 0.3em;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
}

.product-sales {
  width: 19%;
}

.purchase-sales,
.shipment-sales {
  width: 18%;
}

.customer-sales {
  width: 26%;
}

.status-sales {
  width: 19%;
}

/*Container Data*/
.sales-data-container {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  overflow-y: auto;
}

/*Scrollbar*/
.sales-data-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sales-data-container::-webkit-scrollbar:vertical {
  width: 0.8em;
}

.sales-data-container::-webkit-scrollbar-button:increment,
.sales-data-container::-webkit-scrollbar-button {
  display: none;
}

.sales-data-container::-webkit-scrollbar:horizontal {
  height: 0.7em;
}

.sales-data-container::-webkit-scrollbar-thumb {
  background-color: var(--eigth-color);
  border-radius: 20px;
  border: 0.1em solid var(--third-color);
}

.sales-data-container::-webkit-scrollbar-track {
  border-radius: 10px;
}


