.containerCards, .links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCards{
    width: 100%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.links{
    width: 29%;
    margin: .6em;
    text-decoration: none;
    color: var(--bgMainColor);
}

.links:active{
    color: var(--primary-color); ;
}