.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: lightgrey;
}

.navbar ul li{
    list-style: none;
    display: inline;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.cart{
    font-size: 1.5rem;
}

#search{
    width: 30%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 1rem;
    margin: 0rem 1.5rem;
}

.home-link{
    margin: 0rem 1.5rem;
}