.containerCardsModal{
    width: 80%;
    margin: auto;
   
}
.modal-inner {
    width: 20vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
  }

  .containerHeaderModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0rem;
    border-bottom: 1px solid var(--fifth-color) ;
  }
 .containerCardsModal-btns {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;

 }
 .containerCardsModal-btns > button {
 font-size: 20px;
 border: none;
 border-radius: 10px;
 width: 100px;
 height: 30px;
 transition: all 2s;

}