@import '../sass/vars.scss';

.controls {
	width: 120px;
	height: 45px;
	background-color: $color-secondary;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
	&__item {
		cursor: pointer;
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: borderColor 0.4s ease-in;
		&:hover .arrow {
			border-color: $color-com;
		}
	}
	.arrow {
		cursor: pointer;
		border: solid $color-dark;
		border-width: 0 5px 5px 0;
		display: inline-block;
		padding: 6px;
	}
	.next {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.prev {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	border-top: 2px solid $color-com;
	padding-top: 40px;
	&__title {
		color: $color-primary;
	}
	&__container {
		margin-top: -40px;
		border-radius: 5px;
		width: 100%;
		height: 250px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.4s ease-in;
		}
	}
}

@media screen and (min-width: 600px) {
	.slider {
		&__container {
			height: 300px;
		}
	}
}

@media screen and (min-width: 768px) {
	.slider {
		&__container {
			height: 400px;
		}
	}
}

@media screen and (min-width: 900px) {
	.slider {
		row-gap: 0px;
		column-gap: 20px;
		border-top: 0;
		border-left: 2px solid $color-com;
		padding-top: 0px;
		padding-left: 40px;
		&__title {
			margin-bottom: 20px;
		}
	}
}
